---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import CardProfile from '../components/CardProfile.astro'
import SocialMedias from '../components/SocialMedias.astro';
import Skills from '../components/Skills.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="I'm Angel">
	<main class="flex flex-col w-full justify-center gap-4 items-center">
		<Navbar />
		<CardProfile />
		<SocialMedias />
		<Skills />
		<Experience />
		<Projects />
		<Footer />
	</main>
</Layout>
