---
import Image from "astro/components/Image.astro";
import photo from "../assets/new-photo.png";
import Icon from "./Icon.astro";
import LinkButton from "./LinkButton.astro";

const birthDate = new Date("2003-11-11");
const today = new Date();
let age = today.getFullYear() - birthDate.getFullYear();
const monthDifference = today.getMonth() - birthDate.getMonth();
if (
  monthDifference < 0 ||
  (monthDifference === 0 && today.getDate() < birthDate.getDate())
) {
  age--;
}

---

<article
  class="reveal mx-auto w-[90%] sm:max-w-4xl rounded-xl border border-white/10 bg-gray-900/50 p-6 text-white backdrop-blur-sm md:p-8"
  id="about"
>
  <h2
    class="mb-6 flex items-center justify-center gap-3 text-2xl font-extrabold uppercase text-white"
  >
    <span>About me</span>
  </h2>
  <div class="grid grid-cols-1 items-center gap-8 md:grid-cols-3">
    <div class="flex justify-center md:col-span-1">
      <Image
        src={photo}
        alt={"A photo of Luis Angel Fernandez"}
        class:list={"aspect-square w-48 rounded-lg border-2 border-yellow-300/50 object-cover"}
      />
    </div>
    <div class="flex flex-col justify-center md:col-span-2">
      <p class="mb-6 text-base text-gray-300">
        My name is Luis Angel Fernandez, I am {age} years old, I am from the
        Dominican Republic and I study computer science. I like programming and
        I discovered this world when I was 14 years old.
        <br />
        <br />
        I am a content creator on YouTube where I share my knowledge about programming. I can speak English at a conversational level and my native language is Spanish.
        <br />
        I like basketball, music and writing songs. If I wasn't a developer, I'd
        be a singer.
      </p>
      <div class="flex flex-wrap justify-center gap-4 md:justify-start">
        <LinkButton
          href="mailto:luisangelf491@gmail.com?subject=Hello&body=Escribe aquí tu mensaje"
          title="luisangelf491@gmail.com"
          icon="mail"
        >
          Contact me
        </LinkButton>
        <LinkButton href="/CV.pdf" target="_blank" icon="download">
          Download CV
        </LinkButton>
      </div>
    </div>
  </div>
</article>
