---
const WHATSAPP_NUMBER = "18092574719";
---

<section
  id="contact"
  class="text-center py-16 bg-slate-800/50 w-full mt-10 reveal"
>
  <div class="max-w-2xl mx-auto px-4">
    <h2 class="text-3xl font-extrabold text-white uppercase">
      Let's Build Something Great Together
    </h2>
    <p class="mt-4 text-lg text-slate-300">
      Have a personal project in mind or need help bringing an idea to life? I'm
      available for freelance opportunities and collaborations. Let's connect and
      make it happen!
    </p>
    <a
      href={`https://wa.me/${WHATSAPP_NUMBER}`}
      target="_blank"
      rel="noopener noreferrer"
      class="mt-8 inline-flex items-center justify-center gap-3 px-8 py-3 border border-transparent text-base font-medium rounded-lg text-slate-900 bg-yellow-300 hover:bg-yellow-400 transition-all"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="size-5"><path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.894 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 4.315 1.847 6.061l-1.025 3.748 3.82-1.017z"></path></svg>
      <span>Contact me on WhatsApp</span>
    </a>
  </div>
</section>