---
import Me from "../assets/profile.jpeg";
import Image from "astro/components/Image.astro";
---

<article class="w-auto flex flex-col justify-center items-center gap-4 reveal">
  <div class="flex gap-2 justify-center items-center w-[450px]">
    <Image
      src={Me}
      alt="Luis_Angel"
      class:list={"w-[80px] h-[80px] rounded-full object-cover ml-6"}
    />
    <p
      class="p-2 text-xs border border-blue-400 rounded-3xl text-yellow-300 bg-gray-800"
    >
      JavaScript Dev4Ever
    </p>
  </div>
  <div
    class="w-[305px] sm:w-[450px] flex flex-col text-white justify-center items-center"
  >
    <h1 class="text-2xl uppercase font-extrabold">Hello, I'm Angel!</h1>
    <h2 class="text-md text-yellow-300 font-semibold">
      Welcome to my portfolio!
    </h2>
    <p class="text-sm text-justify p-2">
      I am a developer working with the JavaScript ecosystem, primarily focused
      on frontend development. As a student from the Dominican Republic, I am
      passionate about building modern web applications and continuously
      expanding my skills in the ever-evolving field of web technologies.
    </p>
  </div>
</article>
