---
const skills = [
  { name: "React", category: "Frameworks" },
  { name: "Next.js", category: "Frameworks" },
  { name: "Astro", category: "Frameworks" },
  { name: "NestJS", category: "Frameworks" },
  { name: "Express", category: "Frameworks" },
  { name: "Vue.js", category: "Frameworks" },
  { name: "TypeScript", category: "Lenguajes" },
  { name: "JavaScript", category: "Lenguajes" },
  { name: "C#/.Net", category: "Lenguajes" },
  { name: "Node.js", category: "Frameworks" },
  { name: "Tailwind CSS", category: "Frameworks" },
  { name: "Expo", category: "Frameworks" },
  { name: "Vite", category: "Infraestructura y Otros" },
  { name: "Git", category: "Infraestructura y Otros" },
  { name: "Vercel", category: "Infraestructura y Otros" },
  { name: "Railway", category: "Infraestructura y Otros" },
  { name: "React Router", category: "Frameworks" },
  { name: "Supabase", category: "Base de Datos" },
  { name: "MySQL", category: "Base de Datos" },
  { name: "PostgreSQL", category: "Base de Datos" },
  { name: "SQL Server", category: "Base de Datos" },
];

const categories = {
  Frameworks: skills.filter((s) => s.category === "Frameworks"),
  Lenguajes: skills.filter((s) => s.category === "Lenguajes"),
  "Base de Datos": skills.filter((s) => s.category === "Base de Datos"),
  "Infraestructura y Otros": skills.filter(
    (s) => s.category === "Infraestructura y Otros"
  ),
};
---

<article
  class="reveal mx-auto w-[90%] sm:max-w-4xl rounded-xl border border-white/10 bg-gray-900/50 p-6 text-white backdrop-blur-sm md:p-8"
  id="skills"
>
  <h2
    class="mb-6 flex items-center justify-center gap-3 text-2xl font-extrabold uppercase text-white"
  >
    <span>My Skills</span>
  </h2>
  <p class="mb-8 text-center text-base text-gray-300">
    I love the JavaScript ecosystem, which is why my skills are focused on
    technologies within this powerful language. These are the main ones:
  </p>

  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    {
      Object.entries(categories).map(([category, skills]) => (
        <div class="flex flex-col gap-4">
          <h3 class="text-lg font-bold text-yellow-300">{category}</h3>
          <div class="flex flex-wrap gap-2">
            {skills.map((skill) => (
              <span class="rounded-md bg-gray-700/50 px-3 py-1 text-sm font-medium text-gray-200">
                {skill.name}
              </span>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</article>