---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-auto w-full myColor">
    <slot />
  </body>
</html>

<script>
  import ScrollReveal from "scrollreveal";

if (typeof window !== "undefined") {
  const sr = ScrollReveal();

  sr.reveal(".reveal", {
    duration: 800,
    distance: "50px",
    easing: "ease-in-out",
    origin: "bottom",
    reset: true,
  });
}
</script>

<style>
  .myColor {
    background-color: #111427;
  }

  * {
    scroll-behavior: smooth;
  }

  .reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease-in-out;
  }
</style>
